/* 1. CONTAINER PRINCIPAL */
#navigator-toolbox {
  border: none !important;
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1000 !important;

  transition: transform 0.6s ease-in-out !important;
  transform: translateY(calc(-100% + 8px)) !important;
}

#urlbar{
  transition: transform 0.6s ease-in-out !important;
  transform: translateY(-240%) !important;
}


/* 2. MOSTRAR AO PASSAR O MOUSE */
#navigator-toolbox:hover,
#navigator-toolbox:focus-within,
#navigator-toolbox:hover #urlbar,
#navigator-toolbox:focus-within #urlbar{
  transform: translateY(0) !important;
}

/* 3. ÁREA DE CONTATO (GATILHO) */
#navigator-toolbox::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 15px;
}

